@{
    ViewData["Title"] = "About";
}

<section class="jumbotron text-center">
    <div class="container">
        @*<h1 class="jumbotron-heading">@ViewBag.Title.</h1>*@
        <h1 class="jumbotron-heading">Telerik</h1>
        <p class="lead-text text-muted">@ViewBag.Message</p>
    </div>
</section>

<div class="container-fluid justify-content-between row">
    <div class="card col-md-4">
        <div id="add-product" class="demo-section card-body">
            <p class="title">Add new product</p>
            <ul id="fieldlist">
                <li>
                    <label for="currency">Price:</label>
      @(Html.Kendo().NumericTextBox<decimal>()
            .Name("currency")
            .Format("c")
            .Min(0)
            .Max(100)
            .Value(100)
            .HtmlAttributes(new { style = "width: 100%", title = "currency" })
      )
    </li>
    <li>
        <label for="percentage">Price Discount:</label>
      @(Html.Kendo().NumericTextBox<double>()
            .Name("percentage")
            .Format("p0")
            .Min(0)
            .Max(0.9)
            .Step(0.01)
            .Value(0.4)
            .HtmlAttributes(new { style = "width: 100%", title = "percentage" })
        )
    </li>
    <li>
        <label for="custom">Weight:</label>
      @(Html.Kendo().NumericTextBox<double>()
            .Name("custom")
            .Format("#.00 KG")
			.Min(0)
            .Value(0.25)
            .HtmlAttributes(new { style = "width: 100%", title = "custom" })
      )
   </li>
    <li>
        <label for="numeric">Currently in stock:</label>
      @(Html.Kendo().NumericTextBox<double>()
            .Name("numeric")
            .Value(79)
            .Placeholder("Enter numeric value")
            .HtmlAttributes(new { style = "width: 100%", title = "numeric" })
      )
    </li>
 </ul>
</div>
    </div>

    <div class="col-md-4 card">
        <div id="tshirt-view" class="demo-section card-body">
    <h4>Customize your Kendo T-shirt</h4>
    <a href="@Url.Content("~/images/tshirt.png")" target="_blank">
                        <img src="@Url.Content("~/images/tshirt.png")"
                        id="tshirt" alt="T-shirt image"/>
    </a>
    <h4><label for="fabric">T-shirt Fabric</label></h4>
    @(Html.Kendo().ComboBox()
          .Name("fabric")
          .Filter(FilterType.Contains)
          .Placeholder("Select fabric...")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Cotton", Value = "1"
              },
              new SelectListItem() {
                Text = "Polyester", Value = "2"
              },
              new SelectListItem() {
                Text = "Cotton/Polyester", Value = "3"
              },
              new SelectListItem() {
                Text = "Rib Knit", Value = "4"
              }
          })
          .SelectedIndex(3)
          .Suggest(true)
          .HtmlAttributes(new { style = "width:100%;" })
    )

    <h4 style="margin-top: 2em;"><label for="size">T-shirt Size</label></h4>
    @(Html.Kendo().ComboBox()
          .Name("size")
          .Placeholder("Select size...")
          .BindTo(new List<string>() {
              "X-Small",
              "Small",
              "Medium",
              "Large",
              "X-Large",
              "2X-Large"
          })
          .SelectedIndex(0)
          .Suggest(true)
          .HtmlAttributes(new { style = "width:100%;" })
    )

    <button class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md " id="get" style="margin-top: 2em;">Customize</button>
</div>
    </div>

    <div class="card col-md-4">
        <div class="demo-section card-body">
                    <h4>Date of Birth:</h4>
        @(Html.Kendo().DatePicker()
              .Name("datepicker")
              .Value(DateTime.Now.Date)
              .Format("MMM dd, yyyy")
              .ComponentType("modern")
            .Size(ComponentSize.Large)
            .Rounded(Rounded.Full)
            .FillMode(FillMode.Solid)
            .DateInput()
              .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
        )

        <div class="demo-section">
    <h4>Entry Time:</h4>
    <div>
        @(Html.Kendo().TimePicker()
            .Name("timepicker")
            .Value(DateTime.Now.TimeOfDay)
            .ComponentType("modern")
            .Size(ComponentSize.Large)
            .Rounded(Rounded.Full)
            .FillMode(FillMode.Solid)
            .HtmlAttributes(new { style = "width: 100%", title = "timepicker" })
            .DateInput()
            
        )
    </div>
</div>

<div class="demo-section">
        <h4 class="label">Agreements on Terms and Policies:</h4>
        <div>
            <input type="checkbox" id="selectAllCheckbox" class="k-checkbox k-checkbox-md k-rounded-md k-roundend-md">
            <label class="k-checkbox-label" for="selectAllCheckbox">Select all available options</label>
        </div>
        <br />
        @(Html.Kendo().CheckBoxGroup()
            .Name("checkboxgroup")
            .Items(i =>
            {
                i.Add().Label("You agree to the our company's terms and policies").Value("1");
                i.Add().Label("You agree to our cookies settings").Value("2");
                i.Add().Label("Your privacy at this site is strictly followed up").Value("5").Enabled(false);
            })
            .Value(new string[] { "5" })
        )
    </div>

<div class="demo-section">
    <h4>Gender :</h4>
    <ul class="radiofieldlist">
        <li>
            @(Html.Kendo().RadioButton().Name("female").Checked(true).HtmlAttributes(new { @name = "gender" }).Label("Female"))
        </li>
        <li>
            @(Html.Kendo().RadioButton().Name("male").HtmlAttributes(new { @name = "gender" }).Label("Male"))
        </li>
        <li>
            @(Html.Kendo().RadioButton().Name("others").Enable(false).HtmlAttributes(new { @name = "gender" }).Label("Others"))
        </li>
    </ul>
</div>
</div>

    </div>

    


    
</div>

<div class="container-fluid justify-content-between row">
    <div class="card col-md-4">
        <div class="demo-section card-body">
    <h2>Domain Experiences:</h2>
    @(Html.Kendo().MultiSelect()
          .Name("required")
          .Placeholder("Select domains...")
          .BindTo(new List<string>() {
              "FinTech",
              "HealthTech",
              "HealthCare",
              "HealthAutomation",
              "RMG",
              "FMCG",
              "GarmentsERP",
              "EducationERP",
              "HospitalERP",
              "CapitalMarket",
              "BankingSolution",
              "HRM"
              
          })
          .Value(new string[] {  })   
          .Size(ComponentSize.Large)
            .Rounded(Rounded.Medium)
            .FillMode(FillMode.Solid)
    )
    <button class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md " id="domain" style="margin-top: 2em;">Test Domain</button>
</div>
    </div>
</div>



 <style>
    .demo-section {
        padding: 0;
        margin-top: 2em;
    }

    .demo-section label {
        display: block;
        margin: 15px 0 5px 0;
    }

    #domain {
        float: right;
        margin: 25px auto 0;
    }

    #add-product .title {
        font-size: 16px;
        color: #fff;
        background-color: #1e88e5;
        padding: 20px 30px;
        margin: 0;
    }

    #fieldlist {
        margin: 0 0 -1.5em;
        padding: 30px;
    }

    #fieldlist li {
        list-style: none;
        padding-bottom: 1.5em;
    }

    #fieldlist label {
        display: block;
        padding-bottom: .6em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
    }

    .radiofieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .radiofieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }

    #tshirt {
        display: block;
        margin: 2em auto;
    }

    .k-readonly {
        color: gray;
    }

</style>

<script>
    $(document).ready(function() {
        var fabric = $("#fabric").data("kendoComboBox");
        var size = $("#size").data("kendoComboBox");

        var required = $("#required").data("kendoMultiSelect");

        $("#domain").click(function () {
            alert("Domain Experienced:\n " + required.value() +"\n\n");
        });

		$("#get").click(function() {
		    alert('Thank you! Your Choice is:\n\nFabric ID: ' + fabric.value() + ' and Size: ' + size.value());
        });
    });

     $("#selectAllCheckbox").change(function () {
        var checkBoxGroup = $("#checkboxgroup").data("kendoCheckBoxGroup")
        if (this.checked) {
            checkBoxGroup.checkAll(true)
        } else {
            checkBoxGroup.checkAll(false)
        }
    });
</script>